
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 style="color:#212529;font-weight:bolder">ADD NEW TOY</h2>
      <br>
      <form action="/addToy" method="post">
        <div class="mb-3">
          <label for="name" class="form-label" style="font-weight:bold">Name</label>
          <input class="form-control" type="text" name="toys_name" required placeholder="Enter toy name">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label"style="font-weight:bold">Year of manufacture </label>
          <input class="form-control" type="text" name="toys_year" required  min="2020" max="2023" placeholder="2020-2023">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"style="font-weight:bold">Country of manufacture</label>
          <input class="form-control" type="text" name="toys_country" required placeholder="Enter country of manufacture">
        </div>
         <div class="mb-3">
          <label for="name" class="form-label"style="font-weight:bold">Price</label>
          <input class="form-control" type="number" name="toys_price" required placeholder="Enter toy price">
        </div>
         <div class="mb-3">
          <label for="name" class="form-label"style="font-weight:bold">Gender</label>
          <input class="form-control" type="text" name="toys_gender" required  placeholder="Boy/Girl/Unisex">
        </div>
         <div class="mb-3">
          <label for="name" class="form-label"style="font-weight:bold">Image</label>
          <input class="form-control" type="text" name="toys_image" required  placeholder="Enter Image">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #212529; ">Add Product</button>
      </form>
    </div>
  </div>
</div>